/*
==============================================
Fonts Installation
==============================================
*/
/*
==============================================
Variables
==============================================
*/
/*
==============================================
Typography
==============================================
*/
/*
==============================================
Mixins
==============================================
*/
.basic-font {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.055em;
}
.heavy-font {
  font-weight: 800;
}
.black-font {
  font-weight: 900;
}
/*
==============================================
Overall styles
==============================================
*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
[class*="accent"] {
  color: #0c0cea;
}
[class*="white"] {
  background-color: #fff;
}
[class*="grey"] {
  background-color: #f3f3f3;
}
[class*="align-right"] {
  text-align: right;
}
[class*="align-left"] {
  text-align: left;
}
[class*="align-center"] {
  text-align: center;
}
[class*="inline-block"] {
  position: relative;
  display: inline-block;
}
[class*="abs"] {
  position: absolute;
}
[class*="abs-right"] {
  right: 0;
}
[class*="abs-left"] {
  position: absolute;
  left: 0;
}
[class*="abs-bottom"] {
  right: 0;
}
[class*="abs-top"] {
  right: 0;
}
[class*="abs-btm-right"] {
  right: 0;
  bottom: 0;
}
[class*="abs-top-left"] {
  left: 0;
  top: 0;
}
[class*="400w"] {
  max-width: 400px;
}
.gallery__item {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-align-items: center;
  align-items: center;
  margin-top: 8em;
}
.gallery__item:hover .thumbnail {
  -webkit-box-shadow: 18px -18px 0px 0px #0c0cea;
  -moz-box-shadow: 18px -18px 0px 0px #0c0cea;
  box-shadow: 18px -18px 0px 0px #0c0cea;
}
.gallery__item_first {
  margin-top: 1.286em;
}
.gallery__item_right {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.gallery__item_right .heading {
  margin-right: 4em;
}
.gallery__item_left {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.gallery__item_left .heading {
  margin-left: 4em;
}
