/*
==============================================
Fonts Installation
==============================================
*/
/*
==============================================
Variables
==============================================
*/
/*
==============================================
Typography
==============================================
*/
/*
==============================================
Mixins
==============================================
*/
.basic-font {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.055em;
}
.heavy-font {
  font-weight: 800;
}
.black-font {
  font-weight: 900;
}
/*
==============================================
Overall styles
==============================================
*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
[class*="accent"] {
  color: #0c0cea;
}
[class*="white"] {
  background-color: #fff;
}
[class*="grey"] {
  background-color: #f3f3f3;
}
[class*="align-right"] {
  text-align: right;
}
[class*="align-left"] {
  text-align: left;
}
[class*="align-center"] {
  text-align: center;
}
[class*="inline-block"] {
  position: relative;
  display: inline-block;
}
[class*="abs"] {
  position: absolute;
}
[class*="abs-right"] {
  right: 0;
}
[class*="abs-left"] {
  position: absolute;
  left: 0;
}
[class*="abs-bottom"] {
  right: 0;
}
[class*="abs-top"] {
  right: 0;
}
[class*="abs-btm-right"] {
  right: 0;
  bottom: 0;
}
[class*="abs-top-left"] {
  left: 0;
  top: 0;
}
[class*="400w"] {
  max-width: 400px;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  margin: 0;
  padding: 0;
}
p,
hr {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
button,
input,
optgroup,
select,
textarea {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.055em;
}
button {
  background-color: transparent;
  border: none;
}
input:focus,
button:focus,
form:focus,
a:focus {
  outline: none;
}
* {
  box-sizing: border-box;
}
h1 {
  font-size: 6.429em;
  line-height: 0.8em;
}
h3 {
  font-size: 2.857em;
  letter-spacing: 0.075em;
}
h6 {
  font-size: 1em;
}
.document {
  width: 100%;
  height: 100%;
}
.site {
  background: #f3f3f3;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}
.page {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}
.page__section {
  padding-top: 9.625em;
}
.page__section_first {
  padding-top: 0;
}
.page__section_spaced {
  padding-bottom: 10em;
}
.page__footer {
  padding-top: 6.750em;
}
.page__bumper {
  height: 48px;
}
.header__content {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 2.857em 0;
}
.content {
  font-family: 'Raleway', sans-serif;
}
.content_narrow {
  max-width: 1288px;
  margin: auto;
}
.content__heading {
  margin-bottom: 8.375em;
}
.content__heading_master {
  margin-top: 4.444em;
}
.content__heading_shifted {
  margin-top: 2.625em;
  margin-left: 3.625em;
}
.content__article {
  margin: 0 auto 2.143em auto;
  max-width: 78%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.content__gallery {
  width: 100%;
}
.content__scroll-down {
  margin-top: 4.143em;
  margin-bottom: 2em;
}
.content__ascii-table {
  max-width: 78%;
  margin: 8.375em auto 0 auto;
  background-color: #1b1d23;
}
.content__button-block {
  max-width: 50%;
  margin: 7.250em auto 0 auto;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.navigation__icon {
  max-width: 2em;
  margin-top: 10px;
}
.logo__text {
  font-family: 'Raleway', sans-serif;
}
.heading_master {
  font-size: 6.429em;
  line-height: 0.8em;
  max-width: 500px;
}
.heading__text {
  font-size: 3.571em;
  text-transform: uppercase;
  font-weight: 900;
}
.heading__superscript {
  color: #798f90;
  line-height: 2;
}
.heading__text_sub {
  font-size: 1.888em;
  letter-spacing: 0;
  line-height: 1.45em;
}
.heading__text_top-spaced {
  margin-top: 0.143em;
}
.heading__format_bottom {
  margin-top: 10px;
}
.heading__format_top {
  margin-bottom: 10px;
}
.format__hr {
  width: 80px;
  margin: auto 0;
}
.format__hr_full {
  width: 100%;
}
.format__arrow {
  max-height: 9px;
}
.format__hr_bottom {
  margin-bottom: 3px;
}
.format__hr_top {
  margin-top: 3px;
}
.scroll-down__icon {
  max-width: 60px;
}
.triangle {
  position: relative;
  height: 200px;
  background-color: #fff;
}
.triangle__down {
  float: left;
  height: 220px;
  width: 100%;
  position: absolute;
  top: 0;
  -webkit-clip-path: polygon(0px 0px, 69.84% 100%, 100% 0px);
  clip-path: polygon(0px 0px, 69.84% 100%, 100% 0px);
}
.triangle__up {
  float: left;
  height: 220px;
  width: 100%;
  position: absolute;
  top: 0;
  -webkit-clip-path: polygon(0px 200px, 30.16% 0%, 100% 200px);
  clip-path: polygon(0px 200px, 30.16% 0%, 100% 200px);
}
.article__col-3 {
  width: 31.2%;
}
.article__em {
  font-size: 1.888em;
  letter-spacing: 0;
  line-height: 1.45em;
}
.article__text {
  color: #798f90;
  line-height: 2;
}
.article__text_spaced {
  margin-bottom: 2.286em;
}
.button {
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 0.265em;
  padding: 1.143em 3.214em;
  width: 300px;
  border-radius: 6px;
  border: 1px solid;
}
.button_accent {
  border-color: #0c0cea;
}
.gallery__item {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-align-items: center;
  align-items: center;
  margin-top: 8em;
}
.gallery__item:hover .thumbnail {
  -webkit-box-shadow: 18px -18px 0px 0px #0c0cea;
  -moz-box-shadow: 18px -18px 0px 0px #0c0cea;
  box-shadow: 18px -18px 0px 0px #0c0cea;
}
.gallery__item_first {
  margin-top: 1.286em;
}
.gallery__item_right {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.gallery__item_right .heading {
  margin-right: 4em;
}
.gallery__item_left {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.gallery__item_left .heading {
  margin-left: 4em;
}
.thumbnail {
  overflow: hidden;
}
.thumbnail_vr {
  max-width: 440px;
}
.thumbnail__img {
  width: 100%;
  height: auto;
}
.ascii-table {
  font-size: 12px;
  line-height: 1.5;
}
.ascii-table__table {
  padding: 38px 0 24px 0;
}
.ascii-table_pink {
  color: #eea5fc;
}
.ascii-table_green {
  color: #A6F69E;
}
.footer__content {
  padding-bottom: 10em;
}
.link {
  color: #000;
}
.link:hover {
  color: #0c0cea;
}
.contact__head {
  font-size: 2.857em;
  letter-spacing: normal;
  margin-bottom: 0.744em;
}
