/*
==============================================
Fonts Installation
==============================================
*/
/*
==============================================
Variables
==============================================
*/
/*
==============================================
Mixins
==============================================
*/
.basic-font {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.055em;
}
.heavy-font {
  font-weight: 800;
}
.black-font {
  font-weight: 900;
}
/*
==============================================
Overall styles
==============================================
*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
[class*="hr"] {
  width: 80px;
  margin: auto 0;
}
[class*="accent"] {
  color: #0c0cea;
}
[class*="white"] {
  background-color: #fff;
}
[class*="grey"] {
  background-color: #f3f3f3;
}
[class*="align-right"] {
  text-align: right;
}
[class*="align-left"] {
  text-align: left;
}
[class*="align-center"] {
  text-align: center;
}
[class*="abs-right"] {
  position: absolute;
  right: 0;
}
[class*="abs-left"] {
  position: absolute;
  left: 0;
}
.triangle__wrapper {
  position: relative;
  height: 200px;
  background-color: #fff;
}
[class*="triangle_down"] {
  float: left;
  height: 220px;
  width: 100%;
  position: absolute;
  top: 0;
  -webkit-clip-path: polygon(0px 0px, 63.71% 100%, 100% 0px);
  clip-path: polygon(0px 0px, 63.71% 100%, 100% 0px);
}
[class*="triangle_up"] {
  float: left;
  height: 220px;
  width: 100%;
  position: absolute;
  top: 0;
  clip-path: polygon(0px 200px, 36.29% 0%, 100% 200px);
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  margin: 0;
  padding: 0;
}
p,
hr {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #0c0cea;
}
button,
input,
optgroup,
select,
textarea {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.055em;
}
button {
  background-color: transparent;
  border: none;
}
input:focus,
button:focus,
form:focus,
a:focus {
  outline: none;
}
* {
  box-sizing: border-box;
}
h1 {
  font-size: 6.429em;
  line-height: 0.8em;
}
h2 {
  font-size: 3.571em;
  text-transform: uppercase;
  font-weight: 900;
}
h3 {
  font-size: 2.857em;
  letter-spacing: 0.075em;
}
h4 {
  font-size: 1.888em;
  letter-spacing: 0;
  line-height: 1.45em;
}
h6 {
  font-size: 1em;
}
p,
span {
  color: #798f90;
  line-height: 2;
}
.document {
  width: 100%;
  height: 100%;
}
.site {
  background: #f3f3f3;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}
.page {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}
.page__bumper {
  height: 48px;
}
.header__content {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 2.857em 0;
}
.content_narrow {
  max-width: 1288px;
  margin: auto;
}
.navigation__icon {
  max-width: 2em;
  margin-top: 10px;
}
/*_________ Top section ___________*/
.master-head {
  max-width: 400px;
  margin-top: 4.444em;
}
[class*="sub__heading"],
.section__heading {
  position: relative;
  display: inline-block;
}
[class*="sub__heading"] {
  max-width: 400px;
}
.section_first .sub__heading {
  margin-top: 2.5em;
  margin-left: 3.429em;
}
/*_________ Homepage Icons & elements ___________*/
[class*="format__arrow"] {
  max-height: 9px;
}
.scroll-down {
  text-align: center;
  margin-top: 4.143em;
  margin-bottom: 2em;
}
.scroll-down__icon {
  max-width: 60px;
}
/*_________ Heading with format ___________*/
.heading__format {
  height: 10px;
}
[class*="heading__format_bottom"] {
  margin-top: 10px;
}
[class*="heading__format_top"] {
  margin-bottom: 10px;
}
[class*="format__hr_bottom"] {
  margin-bottom: 6px;
}
.format__hr_top {
  margin-top: 6px;
}
section {
  padding-bottom: 2em;
}
.section_white {
  padding-bottom: 11.286em;
}
section:not(.section_first) {
  padding-top: 14.857em;
}
.section__contents {
  margin: 7.286em auto 2.143em auto;
  max-width: 78%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.section__col-3 {
  width: 31.2%;
}
.section__text {
  margin-bottom: 2.286em;
}
.section__btn {
  color: #0c0cea;
  font-weight: 700;
  letter-spacing: 0.265em;
  padding: 1.143em 3.214em;
  width: 300px;
  border-radius: 6px;
  border: 1px solid #0c0cea;
}
/*_________ Stacked Image Gallery ___________*/
.section__gallery_stacked {
  width: 100%;
}
.gallery__item {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-align-items: center;
  align-items: center;
}
.gallery__item:hover .thumbnail-vr {
  -webkit-box-shadow: 18px -18px 0px 0px #0c0cea;
  -moz-box-shadow: 18px -18px 0px 0px #0c0cea;
  box-shadow: 18px -18px 0px 0px #0c0cea;
}
.gallery__item:first-child {
  margin-top: 1.286em;
}
.gallery__item .heading__text {
  margin-top: 0.143em;
}
.gallery__item:not(:first-child) {
  margin-top: 8em;
}
.gallery__item_right {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.gallery__item_right .heading__wrapper {
  margin-right: 4em;
}
.gallery__item_left {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.gallery__item_left .heading__wrapper {
  margin-left: 4em;
}
[class="thumbnail-vr"] {
  max-width: 440px;
  overflow: hidden;
}
.thumbnail__img {
  width: 100%;
  height: auto;
}
