@import "../../styles/declaratives";

.heading {
  font-family: @base-font;
}

.heading_master {
  font-size: @h1-size;
  line-height: 0.8em;
  max-width: 500px;
}

// section headings - h2
.heading__text {

}

.heading__text_sub {
  .h4-mix();
}

.heading__format {

}

.heading__format_bottom {
  margin-top: 10px;
}

.heading__format_top {
  margin-bottom: 10px;
}