/*
==============================================
Fonts Installation
==============================================
*/
/*
==============================================
Variables
==============================================
*/
/*
==============================================
Typography
==============================================
*/
/*
==============================================
Mixins
==============================================
*/
.basic-font {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.055em;
}
.heavy-font {
  font-weight: 800;
}
.black-font {
  font-weight: 900;
}
/*
==============================================
Overall styles
==============================================
*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
[class*="accent"] {
  color: #0c0cea;
}
[class*="white"] {
  background-color: #fff;
}
[class*="grey"] {
  background-color: #f3f3f3;
}
[class*="align-right"] {
  text-align: right;
}
[class*="align-left"] {
  text-align: left;
}
[class*="align-center"] {
  text-align: center;
}
[class*="inline-block"] {
  position: relative;
  display: inline-block;
}
[class*="abs"] {
  position: absolute;
}
[class*="abs-right"] {
  right: 0;
}
[class*="abs-left"] {
  position: absolute;
  left: 0;
}
[class*="abs-bottom"] {
  right: 0;
}
[class*="abs-top"] {
  right: 0;
}
[class*="abs-btm-right"] {
  right: 0;
  bottom: 0;
}
[class*="abs-top-left"] {
  left: 0;
  top: 0;
}
.heading {
  font-family: 'Raleway', sans-serif;
}
.heading_master {
  font-size: 6.429em;
  line-height: 0.8em;
  max-width: 500px;
}
.heading__text_sub {
  font-family: 'Raleway', sans-serif;
  font-size: 1.888em;
  letter-spacing: 0;
  line-height: 1.45em;
}
.heading__format_bottom {
  margin-top: 10px;
}
.heading__format_top {
  margin-bottom: 10px;
}
