@import "../../styles/declaratives";

.content {
  font-family: @base-font;
}
.content_narrow {
  max-width: 1288px;
  margin: auto;
}

.content__heading_master {
  margin-top: 4.444em;
}

.content__heading_shifted {
  margin-top: 2.625em;
  margin-left: 3.625em;
}

.content__scroll-down {
  margin-top: 4.143em;
  margin-bottom: 2em;
}