/*
==============================================
Fonts Installation
==============================================
*/
/*
==============================================
Variables
==============================================
*/
/*
==============================================
Typography
==============================================
*/
/*
==============================================
Mixins
==============================================
*/
.basic-font {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.055em;
}
.heavy-font {
  font-weight: 800;
}
.black-font {
  font-weight: 900;
}
/*
==============================================
Overall styles
==============================================
*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
[class*="accent"] {
  color: #0c0cea;
}
[class*="white"] {
  background-color: #fff;
}
[class*="grey"] {
  background-color: #f3f3f3;
}
[class*="align-right"] {
  text-align: right;
}
[class*="align-left"] {
  text-align: left;
}
[class*="align-center"] {
  text-align: center;
}
[class*="inline-block"] {
  position: relative;
  display: inline-block;
}
[class*="abs"] {
  position: absolute;
}
[class*="abs-right"] {
  right: 0;
}
[class*="abs-left"] {
  position: absolute;
  left: 0;
}
[class*="abs-bottom"] {
  right: 0;
}
[class*="abs-top"] {
  right: 0;
}
[class*="abs-btm-right"] {
  right: 0;
  bottom: 0;
}
[class*="abs-top-left"] {
  left: 0;
  top: 0;
}
.content {
  font-family: 'Raleway', sans-serif;
}
.content_narrow {
  max-width: 1288px;
  margin: auto;
}
.content__heading_master {
  margin-top: 4.444em;
}
.content__heading_shifted {
  margin-top: 2.625em;
  margin-left: 3.625em;
}
.content__scroll-down {
  margin-top: 4.143em;
  margin-bottom: 2em;
}
