/*
==============================================
Fonts Installation
==============================================
*/
/*
==============================================
Variables
==============================================
*/
/*
==============================================
Typography
==============================================
*/
/*
==============================================
Mixins
==============================================
*/
.basic-font {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.055em;
}
.heavy-font {
  font-weight: 800;
}
.black-font {
  font-weight: 900;
}
/*
==============================================
Overall styles
==============================================
*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
[class*="hr"] {
  width: 80px;
  margin: auto 0;
}
[class*="accent"] {
  color: #0c0cea;
}
[class*="white"] {
  background-color: #fff;
}
[class*="grey"] {
  background-color: #f3f3f3;
}
[class*="align-right"] {
  text-align: right;
}
[class*="align-left"] {
  text-align: left;
}
[class*="align-center"] {
  text-align: center;
}
[class*="abs-right"] {
  position: absolute;
  right: 0;
}
[class*="abs-left"] {
  position: absolute;
  left: 0;
}
.triangle__wrapper {
  position: relative;
  height: 200px;
  background-color: #fff;
}
[class*="triangle_down"] {
  float: left;
  height: 220px;
  width: 100%;
  position: absolute;
  top: 0;
  -webkit-clip-path: polygon(0px 0px, 63.71% 100%, 100% 0px);
  clip-path: polygon(0px 0px, 63.71% 100%, 100% 0px);
}
[class*="triangle_up"] {
  float: left;
  height: 220px;
  width: 100%;
  position: absolute;
  top: 0;
  clip-path: polygon(0px 200px, 36.29% 0%, 100% 200px);
}
.logo__text {
  font-family: 'Raleway', sans-serif;
}
.logo__text_accent {
  color: #0c0cea;
}
