@import "base";

.header__wrapper_narrow {
  .flex;
  .justify-content(space-between);
  padding: 2.857em 0;
}

.navigation__icon {
  max-width: 2em;
  margin-top: 10px;
}

.master-head {
  max-width: 400px;
  margin-top: 4.444em;
}

.subhead {
  margin-top: 2.714em;
  margin-left: 3em;
  display: inline-block;
  position: relative;
}

.subhead__arrow_right {
  max-height: 10px;
  position: absolute;
  right: 0;
}

.scroll-down {
  text-align: center;
  margin-top: 4.286em;
}

.scroll-down__icon {
  max-width: 60px;
}

.section__contents {
  .flex();
  .justify-content(center);
}

.section__col-3 {
  width: 100% / 3;
}