/*
==============================================
Fonts Installation
==============================================
*/
/*
==============================================
Variables
==============================================
*/
/*
==============================================
Mixins
==============================================
*/
.basic-font {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.055em;
}
.heavy-font {
  font-weight: 800;
}
.black-font {
  font-weight: 900;
}
/*
==============================================
Overall styles
==============================================
*/
[class*="narrow"] {
  max-width: 1288px;
  margin: auto;
}
[class*="hr"] {
  width: 80px;
}
[class*="accent"] {
  color: #0c0cea;
}
[class*="white"] {
  background-color: #fff;
}
[class*="grey"] {
  background-color: #f3f3f3;
}
[class*="align-right"] {
  text-align: right;
}
.triangle__wrapper {
  position: relative;
  height: 500px;
  background-color: #fff;
}
[class*="triangle_down"] {
  float: left;
  -webkit-clip-path: polygon(0 0, 86% 100%, 100% 0);
  clip-path: polygon(0 0, 86% 100%, 100% 0);
  height: 500px;
  width: 100%;
  position: absolute;
  top: 0;
}
.header__wrapper_narrow {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 2.857em 0;
}
.navigation__icon {
  max-width: 2em;
  margin-top: 10px;
}
.master-head {
  max-width: 400px;
  margin-top: 4.444em;
}
.subhead {
  margin-top: 2.714em;
  margin-left: 3em;
  display: inline-block;
  position: relative;
}
.subhead__arrow_right {
  max-height: 10px;
  position: absolute;
  right: 0;
}
.scroll-down {
  text-align: center;
  margin-top: 4.286em;
}
.scroll-down__icon {
  max-width: 60px;
}
.section__contents {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-justify-content: center;
  justify-content: center;
}
.section__col-3 {
  width: 33.33333333%;
}
