.page {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.page__section {
  padding-top: 9.625em;
}

.page__portfolio {
  padding-top: 154px;
}

.page__section_first {
  padding-top: 0;
}

.page__section_spaced {
  padding-bottom: 10em;
}

.page__footer {
  padding-top: 6.750em;
}

//to protect content from going under the footer
.page__bumper {
  height: 48px;
}