/*
==============================================
Fonts Installation
==============================================
*/
/*
==============================================
Variables
==============================================
*/
/*
==============================================
Typography
==============================================
*/
/*
==============================================
Mixins
==============================================
*/
.basic-font {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.055em;
}
.heavy-font {
  font-weight: 800;
}
.black-font {
  font-weight: 900;
}
/*
==============================================
Overall styles
==============================================
*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
[class*="accent"] {
  color: #0c0cea;
}
[class*="white"] {
  background-color: #fff;
}
[class*="grey"] {
  background-color: #f3f3f3;
}
[class*="align-right"] {
  text-align: right;
}
[class*="align-left"] {
  text-align: left;
}
[class*="align-center"] {
  text-align: center;
}
[class*="inline-block"] {
  position: relative;
  display: inline-block;
}
[class*="abs"] {
  position: absolute;
}
[class*="abs-right"] {
  right: 0;
}
[class*="abs-left"] {
  position: absolute;
  left: 0;
}
[class*="abs-bottom"] {
  right: 0;
}
[class*="abs-top"] {
  right: 0;
}
[class*="abs-btm-right"] {
  right: 0;
  bottom: 0;
}
[class*="abs-top-left"] {
  left: 0;
  top: 0;
}
/*_________ Top section ___________*/
[class*="sub__heading"],
.section__heading {
  position: relative;
  display: inline-block;
}
[class*="sub__heading"] {
  max-width: 400px;
}
/*_________ Heading with format ___________*/
.section_white {
  padding-bottom: 11.286em;
}
section:not(.section_first) {
  padding-top: 14.857em;
}
.section__contents {
  margin: 7.286em auto 2.143em auto;
  max-width: 78%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.section__col-3 {
  width: 31.2%;
}
.section__text {
  margin-bottom: 2.286em;
}
.section__btn {
  color: #0c0cea;
  font-weight: 700;
  letter-spacing: 0.265em;
  padding: 1.143em 3.214em;
  width: 300px;
  border-radius: 6px;
  border: 1px solid #0c0cea;
}
/*_________ Stacked Image Gallery ___________*/
.section__gallery_stacked {
  width: 100%;
}
.gallery__item {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-align-items: center;
  align-items: center;
}
.gallery__item:hover .thumbnail-vr {
  -webkit-box-shadow: 18px -18px 0px 0px #0c0cea;
  -moz-box-shadow: 18px -18px 0px 0px #0c0cea;
  box-shadow: 18px -18px 0px 0px #0c0cea;
}
.gallery__item:first-child {
  margin-top: 1.286em;
}
.gallery__item .heading__text {
  margin-top: 0.143em;
}
.gallery__item:not(:first-child) {
  margin-top: 8em;
}
.gallery__item_right {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.gallery__item_right .heading__wrapper {
  margin-right: 4em;
}
.gallery__item_left {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.gallery__item_left .heading__wrapper {
  margin-left: 4em;
}
[class="thumbnail-vr"] {
  max-width: 440px;
  overflow: hidden;
}
.thumbnail__img {
  width: 100%;
  height: auto;
}
